// ----------------------------------------------------------------------
// ---------------------------------- START PAGE ------------------------
// ----------------------------------------------------------------------
.issa{
  .issa--i{
    top: 2px;
    left: 14vw;   
  }
  .issa--s{
    top: 9vh;
    right: 13vw;
  }
  .issa--ss{
    left: 24vw;
    bottom: 27vh;
  }
  .issa--a{
    bottom: 7vh;
    right: 10vw;
  }
}